# Секреты и доступы (САМОЕ ВАЖНОЕ)
.env

# Виртуальные окружения Python
.venv/
venv/
env/

# Кэш и скомпилированные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Системные файлы (особенно если у тебя Mac)
.DS_Store
Thumbs.db

# Локальный кэш DuckDB (если тестировал локальные файлы)
*.duckdb
*.duckdb.wal